# Dependencies
node_modules/

# Build outputs
dist/
release/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db

# Local env files
.env
.env.local
.env.*.local

# Caddy runtime files
caddy/你的日志存放路径/
